.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
  object-fit: contain;
  display: inline-block;
}

a {
  color: black;
}

[data-theme='dark'] a {
  color: white;
}